<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">States</h1>
      </div>
      <div class="panel-body">
        <% @states.each do |state| %>
          <p><%= link_to "#{state.name}", edit_state_path(state) %></p>
        <% end %>
          <%= link_to "Add New State", new_state_path, :class => 'btn btn-primary' %>
      </div>
    </div>    
  </div>
</div>