<%= simple_nested_form_for @phone_number do |f| %>
    <div class="input-group">
      <%= f.association :phone_type, placeholder: 'phone type' %>
      <%= f.input :phone_number, placeholder: '(xxx) xxx-xxxx' %>
    </div>
    <br>
    <%= f.button :submit %>
<% end %>